body {
    background-color: #CED4D8;
}
h1 {
    color: #AC6AC7;
}
h2 {
    color: rgb(255,165,0);
}
li {
    color: blue;
}
p {
    background-color: gold;
}
input {
    border: pink;
    border-style: dotted;
    border-radius: 5px;
}
.first {
    background-color: #fff;
}
#important {
    border: #0000FF;
    border-style: dotted;
    border-radius: 3px;
}
div p {
    font-size: 30px;
}
input[type=email] {
    background-color: #808080;
}
div:nth-of-type(3) p {
    background-color: hotpink;
    
}
div:nth-of-type(3) p:nth-child(3) {
    border: 7px solid rgb(255,255,255);
}
div p em {
    color: seashell;
    font-size: 25px;
}